@font-face {
  font-family: "RadioGrotesk";
  src: url("../../font/RadioGrotesk-Regular.otf") format("opentype");
  font-weight: bold;
  font-size: 30px;
}

html, body {
  font-family: "RadioGrotesk";
  margin: 0;
  padding: 0;
  background: black;
}
canvas {
  display: block;
}
.description {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

p{
  color: white;
}
#quote{
  color: white;
  font-size: 20px;
  padding: 2%;
}

#holder{
  position: absolute;
  width: 70%;
  height: 25%;
  top: 70%;
  left: 15%;
  border-radius: 25px;
  background-color: rgba(12, 98, 237, 0.7);
}

#next{
   position: absolute;
   font-family: "RadioGrotesk";
   color: white;
   font-size: 20px;
   top: 65%;
   border: none;
   padding: 2%;
   border-radius: 25px;
   background-color: rgba(81, 43, 170, 0.7);
}

#player {
  position: absolute;
  top: 65%;
  right: 2%;
  border-radius: 50% !important;
  font-size: 30px !important;
  
}


.mejs-container {
background-color: rgb(58, 81, 232);
width: 30px !important;
height: 30px !important;
border-radius: 50% !important;
}

span {
display: none;
}

#mep_0 {
display: none;
}

.mejs-container .mejs-controls div {
/* play button */
height: 100%;
width: 0px;
}

.mejs-controls .mejs-button button {
border: 0 !important;
background: transparent;
outline: none;
}

.mejs-controls .mejs-play:after {
position: absolute;
content: "♫";
margin: auto;
color: darkmagenta;
}

.mejs-controls .mejs-pause:after {
position: absolute;
content: "♫";
margin: auto;
color: darkblue;
}

#resoButton{
  top: 50% !important;
  right: 3% !important;
}
#reso{
  display: none;
  background-color: rgb(58, 81, 232);
  box-shadow: 0px 0px 15px 15px rgb(58, 81, 232);
  top: 10px;
  width: 35%;
  height:90%;
  right: 12%;
  position: absolute;
}